body {
    margin: 0;
    font-family: 'raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.content-limit {
    max-width: 1440px;
    margin: 0 auto;
}

.padding {
    padding-right: 48px;
    padding-left: 48px;
}

.margin-limit {
    margin: 0 80px 0 80px;
}

img{
    border-radius: 10px;
}

.lawn {
    background-color: #efefef;
}
