.impressum-design {
  text-align: center;
  padding: 70px 0;
  margin-top: 100px;
  margin-bottom: 100px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Körper nimmt immer die ganze Höhe */
  margin: 0;
}

main {
  flex: 1;
  /* Main wächst und nimmt freien Platz zwischen Header und Footer */
}

header,
.footer-background {
  flex-shrink: 0;
  /* Header und Footer dürfen nicht schrumpfen */
}

.menu {
  margin-bottom: 0;
}