.recipe-hero-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.section1-info-div {
    display: flex;
    gap: 16px;
    padding-top: 32px;
}

.section1-info {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 16px 0 16px;
    height: 32px;
    border-radius: 10px;
}

.section1-info-img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 0;
}

.form-section2 {
    margin-bottom: 16px;
}

.section-divider {
    height: 1px;
    margin: 48px 0 8px 0;
    color: aliceblue;
    background-color: aliceblue;
}

.input-portions {
    height: 25px;
    width: 120px;
}

.input-button {
    background-color: #008000;
    height: 32px;
    width: 120px;
    border: 0;
    color: white;
}

.input-button:focus-visible {
    outline: 3px solid #005fcc;
    /* gut sichtbare Farbe */
    outline-offset: 2px;
}

table {
    width: 100%;
}

.table-header {
    display: flex;
    justify-content: start;
    gap: 40px;
}

table tr:nth-child(odd) {
    background-color: #efefef;
}

table td {
    padding: 8px 0 8px 16px;
}

.section3 {
    margin-bottom: 16px;
}

.creator-div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.creator-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}

.creator-name {
    font-weight: 500;
    font-size: 18px;
}